<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AuthorizeNet" version="1.8.3" targetFramework="net45" />
  <package id="Braintree" version="2.22.0" targetFramework="net45" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net45" />
  <package id="Castle.Windsor" version="4.1.0" targetFramework="net45" />
  <package id="ClientDependency" version="1.8.2.1" targetFramework="net45" />
  <package id="EPPlus" version="4.1.1" targetFramework="net45" />
  <package id="FluentNHibernate" version="2.0.1.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.CompilerServices.AsyncTargetingPack" version="1.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="NHibernate" version="4.0.0.4000" targetFramework="net45" />
  <package id="NHibernate.Caches.SysCache" version="4.0.0.4000" targetFramework="net45" />
  <package id="ServiceStack" version="3.9.55" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.55" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.55" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="3.9.55" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.55" targetFramework="net45" />
  <package id="uCommerce" version="7.17.1.18146" targetFramework="net45" />
  <package id="uCommerce.Core" version="7.17.1.18146" targetFramework="net45" />
</packages>