<!-- Merge   -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<setting name="IgnoreUrlPrefixes">
				<patch:attribute name="value">
						/sitecore/default.aspx|/trace.axd|/webresource.axd|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.DialogHandler.aspx|
						/sitecore/shell/applications/content manager/telerik.web.ui.dialoghandler.aspx|
						/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.SpellCheckHandler.axd|/Telerik.Web.UI.WebResource.axd|
						/sitecore/admin/upgrade/|/layouts/testing
				</patch:attribute>
			</setting>
		</settings>
	</sitecore>
</configuration>