.propertypane
{
	_width: 95%;
	position: relative;
	display: block;
	line-height: 1.1;
	padding: 5px;
	margin: 7px 7px 7px 7px;
	border: 10px solid #d9d7d7;
	text-align: left;
	clear: both;
	float: none;
	font-family: Arial, Helvetica, sans-serif !important;
}

.propertypane th
{
	vertical-align: top;
	text-align: left;
	font-weight: bold;
	font-size: 12px;
	width: 16%;
}

div.inline {
    display: inline-block;
}

.propertypane, .propertypane td
{
	font-size: 12px;
} 

.propertypane small
{
	font-weight: normal;
	color: #666;
}

.propertyItem
{
    margin-bottom: 24px;
	clear: both;
	font-size: 12px !important;
	background: rgb(240,240,240);
}

.propertyItemHeader
{
	padding-bottom: 10px;
	clear: both;
	font-family: Arial, Helvetica, sans-serif;
}


.propertyItemDropDown {
	width: 204px;
}

.propertyItemContent input[type="text"], .propertyItemContent textarea
{
	width: 218px;
	margin: 0px;
	padding: 5px;
	box-sizing: border-box;
	min-height: 35px;
	border-color: rgb(204, 204, 204);
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
}

.propertyItemContent input[type="text"]:focus, .propertyItemContent textarea:focus
{
	border-color: #66afe9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.propertyItemContent textarea {
	width: 100%;
	height: 150px;
	box-sizing: border-box;
}

.propertyItemContent select, .variantContainer select, .dataList tbody tr td select
{
	margin: 0px;
	padding: 5px;
	min-height: 35px;
	box-sizing: border-box;
	width: 100%;
	font-size:12px;
	border-color: rgb(204, 204, 204);
	font-family: Arial, Helvetica, sans-serif;
	border-width: 1px;
	border-radius: 2px;
	border-style: solid;
}

.propertyItemContent select:focus, .variantContainer select:focus, .dataList tbody tr td select:focus
{
	border-color: #66afe9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.propertyItemContent
{
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	clear: left;
	width: 100%;
}

h2.propertyPaneTitel
{
	font-size: 14px;
	color: #999;
	padding-bottom: 0px;
	line-height: 14px;
	font-family: Arial, sans-serif;
	display: none;
}

div.propertyPaneFooter
{
	clear: both;
	height: 1px;
	overflow: hidden;
	color: #fff;
}

div.propertyPane.dialog-actions {
	background-image: none;
	background: none;
	border: none;
	padding-left: 0;
	padding-right: 0;
	margin: 10px;
}