<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="nhibernate-logger" value="Ucommerce.Sitecore.Logging.LoggerFactory, Ucommerce.Sitecore" xdt:Transform="Insert"/>
	</appSettings>
	<log4net >
		<appender xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@name='UCommerceLogFileAppender')" name="UCommerceLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
			<file value="$(dataFolder)/logs/log.ucommerce.{date}.txt" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n"/>
			</layout>
		</appender>

		<logger xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@name='NHibernate')" name="NHibernate" additivity="false">
			<level value="ERROR" />
			<appender-ref ref="UCommerceLogFileAppender" />
		</logger>
		<logger xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@name='NHibernate.SQL')" name="NHibernate.SQL">
			<level value="ERROR" />
		</logger>
		<logger xdt:Transform="InsertIfMissing"  xdt:Locator="Condition(@name='UCommerce')" name="UCommerce" additivity="false">
			<level value="INFO" />
			<appender-ref ref="UCommerceLogFileAppender" />
		</logger>
	</log4net>
</configuration>