<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web>
		<compilation xdt:Transform="InsertIfMissing">
			<assemblies xdt:Transform="InsertIfMissing">
				<add assembly="ClientDependency.Core, Version=1.8.2.1, Culture=neutral" xdt:Transform="InsertIfMissing" xdt:Locator="Condition(contains(@assembly, 'ClientDependency'))" />
			</assemblies>
		</compilation>
	</system.web>
	<system.webServer>
		<modules>
			<add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core, Version=1.8.2.1, Culture=neutral" xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@name='ClientDependencyModule')"/>
		</modules>
		<handlers>
			<add verb="*" name="ClientDependency" preCondition="integratedMode" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core, Version=1.8.2.1, Culture=neutral" xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@path='DependencyHandler.axd')" />
		</handlers>
	</system.webServer>

	<clientDependency xdt:Transform="InsertIfMissing" version="14195" fileDependencyExtensions=".js,.css"/>
	<clientDependency>
		<compositeFiles  xdt:Transform="InsertIfMissing" defaultProvider="defaultFileProcessingProvider" compositeFileHandlerPath="~/DependencyHandler.axd"/>
	</clientDependency>
	<clientDependency>
		<compositeFiles>
			<fileProcessingProviders xdt:Transform="InsertIfMissing" />
		</compositeFiles>
	</clientDependency>
	<clientDependency>
		<compositeFiles>
			<fileProcessingProviders>
				<add xdt:Transform="InsertIfMissing" name="CompositeFileProcessor" type="ClientDependency.Core.CompositeFiles.Providers.CompositeFileProcessingProvider, ClientDependency.Core, Version=1.8.2.1" enableCssMinify="true" enableJsMinify="true" persistFiles="true" compositeFilePath="~/App_Data/TEMP/ClientDependency" urlType="Base64QueryStrings" pathUrlFormat="{dependencyId}/{version}/{type}" />
			</fileProcessingProviders>
		</compositeFiles>
	</clientDependency>
	<location path="ucommerceapi" xdt:Transform="Replace" xdt:Locator="Condition(@path='ucommerceapi')">
		<system.web>
			<httpHandlers>
				<add path="*" type="Ucommerce.Sitecore.Web.SessionHttpHandlerFactory, Ucommerce.Sitecore" verb="*" />
			</httpHandlers>
		</system.web>
	</location>
	<location path="sitecore modules/Shell/ucommerce" xdt:Transform="InsertIfMissing" xdt:Locator="Condition(@path='sitecore modules/Shell/ucommerce')">
		<system.web>
			<httpRuntime maxRequestLength="512000" executionTimeout="600" enableKernelOutputCache="false" relaxedUrlToFileSystemMapping="true" requestValidationMode="2.0"/>
		</system.web>
	</location>
</configuration>