<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:asmv1="urn:schemas-microsoft-com:asm.v1">
  <runtime xdt:Transform="InsertIfMissing">
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" xdt:Transform="InsertIfMissing">
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" />
        <codeBase version="4.4.0.0" href="bin\ucommerce\Castle.Core.dll" />
      </dependentAssembly>
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" />
        <codeBase version="5.0.0.0" href="bin\ucommerce\Castle.Windsor.dll" />
      </dependentAssembly>
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="ClientDependency.Core" />
        <codeBase version="1.8.2.1" href="bin\ucommerce\ClientDependency.Core.dll" />
      </dependentAssembly>
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="FluentNHibernate" />
        <codeBase version="2.1.2" href="bin\ucommerce\FluentNHibernate.dll" />
      </dependentAssembly>
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="NHibernate.Caches.SysCache" publicKeyToken="6876f2ea66c9f443" />
        <codeBase version="5.5.0.0" href="bin\ucommerce\NHibernate.Caches.SysCache.dll" />
      </dependentAssembly>
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" />
        <codeBase version="4.0.4" href="bin\ucommerce\Iesi.Collections.dll" />
      </dependentAssembly>
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" />
        <codeBase version="1.2.11.0" href="bin\ucommerce\log4net.dll" />
      </dependentAssembly>
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="Infralution.Licensing" publicKeyToken="3e7e8e3744a5c13f" />
        <codeBase version="4.7.1.0" href="bin\ucommerce\Infralution.Licensing.dll" />
      </dependentAssembly>
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="AuthorizeNet" />
        <codeBase href="bin\ucommerce\AuthorizeNet.dll" />
      </dependentAssembly>
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="Braintree-2.22.0" />
        <codeBase href="bin\ucommerce\Braintree-2.22.0.dll" />
      </dependentAssembly>
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="paypal_base" />
        <codeBase href="bin\ucommerce\paypal_base.dll" />
      </dependentAssembly>
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="Lucene.Net" publicKeyToken="85089178b9ac3181" />
        <codeBase version="3.0.3.0" href="bin\ucommerce\Lucene.Net.dll" />
      </dependentAssembly>
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="Lucene.Net.Contrib.Spatial.NTS" publicKeyToken="85089178b9ac3181" />
        <codeBase version="3.0.3.0" href="bin\ucommerce\Lucene.Net.Contrib.Spatial.NTS.dll" />
      </dependentAssembly>
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="ICSharpCode.NRefactory.CSharp" publicKeyToken="d4bfe873e7598c49" />
        <codeBase version="5.0.0.0" href="bin\ucommerce\ICSharpCode.NRefactory.CSharp.dll" />
      </dependentAssembly>
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="ICSharpCode.NRefactory" publicKeyToken="d4bfe873e7598c49" />
        <codeBase version="5.0.0.0" href="bin\ucommerce\ICSharpCode.NRefactory.dll" />
      </dependentAssembly>
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="Esent.Interop" publicKeyToken="8dd49bbdae3f61af" />
        <codeBase version="1.7.0.0" href="bin\ucommerce\Esent.Interop.dll" />
      </dependentAssembly>
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="Spatial4n.Core.NTS" publicKeyToken="9f9456e1ca16d45e" />
        <codeBase version="0.3.0.0" href="bin\ucommerce\Spatial4n.Core.NTS.dll" />
      </dependentAssembly>
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='Raven.Abstractions')">
        <assemblyIdentity name="Raven.Abstractions" publicKeyToken="37f41c7f99471593" />
        <codeBase version="2.5.0.0" href="bin\ucommerce\Raven.Abstractions.dll" />
      </dependentAssembly>
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='Raven.Client.Lightweight')">
        <assemblyIdentity name="Raven.Client.Lightweight" publicKeyToken="37f41c7f99471593" />
        <codeBase version="2.5.0.0" href="bin\ucommerce\Raven.Client.Lightweight.dll" />
      </dependentAssembly>
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='Raven.Database')">
        <assemblyIdentity name="Raven.Database" publicKeyToken="37f41c7f99471593" />
        <codeBase version="2.5.0.0" href="bin\ucommerce\Raven.Database.dll" />
      </dependentAssembly>
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='Jint.Raven')">
        <assemblyIdentity name="Jint.Raven" publicKeyToken="5fa384605d304122" />
        <codeBase version="0.9.2.0" href="bin\ucommerce\Jint.Raven.dll" />
      </dependentAssembly>
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="Remotion.Linq" publicKeyToken="5fa384605d304122" />
        <codeBase version="2.2.0.0" href="bin\ucommerce\Remotion.Linq.dll" />
      </dependentAssembly>
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="Remotion.Linq.EagerFetching" publicKeyToken="5fa384605d304122" />
        <codeBase version="2.2.0.0" href="bin\ucommerce\Remotion.Linq.EagerFetching.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>