<!-- Do NOT make modifications to this file, they WILL be overwritten when uCommerce is updateds -->
<configuration>
  <components>
    <component id="ImageService"
               service="Ucommerce.Content.IImageService, Ucommerce"
               type="Ucommerce.Sitecore93.Content.SitecoreImageService, Ucommerce.Sitecore93" />
  </components>
</configuration>
