<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<httpRequestBegin>
				<processor type="Ucommerce.Sitecore.Pipelines.SetCurrentThreadCultureToCurrentLanguage, Ucommerce.Sitecore" patch:after="*[@type='Sitecore.Pipelines.HttpRequest.CustomHandlers, Sitecore.Kernel']" />
				<processor type="Ucommerce.Sitecore.Pipelines.BreakHttpProcessor, Ucommerce.Sitecore" patch:after="*[@type='Ucommerce.Sitecore.Pipelines.SetCurrentThreadCultureToCurrentLanguage, Ucommerce.Sitecore']">
					<breakMatches hint="raw:AddBreakOnThisPattern">
						<breakMatch text="/ucommerceapi"/>
						<breakMatch text="/paymentprocessor"/>
						<breakMatch text="/paymentrequest"/>
						<breakMatch text="/clientdependency"/>
					</breakMatches>
				</processor>
				<processor type="Ucommerce.Sitecore93.Pipelines.BreakAxdExtensionProcessor, Ucommerce.Sitecore93" patch:after="*[@type='Ucommerce.Sitecore.Pipelines.BreakHttpProcessor, Ucommerce.Sitecore']"/>
				<processor type="Ucommerce.Sitecore.Pipelines.ItemResolver, Ucommerce.Sitecore" patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']">
					<rewriteRules hint="raw:AddRules">
						<rule for="category" match="/(?'catalog'.*?)/c/(?'categories'.+/)*(?'category'.*)"/>
						<rule for="product"  match="/(?'catalog'.*?)/p/(?'categories'.+/)*(?'product'.*)"/>
						<rule for="variant"  match="/(?'catalog'.*?)/v/(?'categories'.+/)*(?'product'.*)/(?'variant'.*)"/>
					</rewriteRules>
				</processor>
			</httpRequestBegin>
		</pipelines>
	</sitecore>
</configuration>