<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor patch:after="*[@type='Sitecore.Social.Client.Pipelines.Initialize.RemoteEventMap, Sitecore.Social.Client']" type="Ucommerce.Sitecore.Pipelines.PickTemplatesFromEngine, Ucommerce.Sitecore" />
      </initialize>
      <owin.initialize>
        <processor patch:instead="*[@type='Sitecore.Owin.Authentication.IdentityServer.Pipelines.Initialize.JwtBearerAuthentication, Sitecore.Owin.Authentication.IdentityServer']" type="Ucommerce.Sitecore.Owin.Processors.Initialize.JwtBearerAuthentication, Ucommerce.Sitecore.Owin" resolve="true">
          <identityProviderName>SitecoreIdentityServer</identityProviderName>
          <audiences hint="raw:AddAudience">
            <audience value="$(identityServerAuthority)/resources" />
          </audiences>
          <issuers hint="list">
            <issuer>$(identityServerAuthority)</issuer>
          </issuers>
        </processor>
      </owin.initialize>
    </pipelines>
  </sitecore>
</configuration>
