<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<sites>
			<site patch:before="*[@name='shell']" name="ucommerce" virtualFolder="/sitecore modules/shell/ucommerce" physicalFolder="/sitecore modules/shell/ucommerce" disableBrowserCaching="false"/>
		</sites>
	</sitecore>
</configuration>