<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<getItemPersonalizationVisibility>
				<processor type="Ucommerce.Sitecore.Pipelines.CheckSectionAvailabilityUCommerce, Ucommerce.Sitecore" patch:after="*[@type='Sitecore.Pipelines.GetItemPersonalizationVisibility.CheckSectionAvailability, Sitecore.Kernel']"/>
			</getItemPersonalizationVisibility>
		</pipelines>
	</sitecore>
</configuration>