<!-- Do NOT make modifications to this file, they WILL be overwritten when uCommerce is updateds -->
<configuration>
  <components>
    <component
            id="DetectFullCatalogScan"
            service="Ucommerce.Sitecore.SitecoreDataProvider.IDetectFullCategoryScan, Ucommerce.Sitecore"
            type="Ucommerce.Sitecore92.SitecoreDataProvider.Impl.DetectFullCategoryScan, Ucommerce.Sitecore92" />
  </components>
</configuration>
