<!-- Do NOT make modifications to this file, they WILL be overwritten when uCommerce is updateds -->
<configuration>
  <components>
    <component
            id="DetectFullCatalogScan"
            service="UCommerce.Sitecore.SitecoreDataProvider.IDetectFullCategoryScan, UCommerce.Sitecore"
            type="UCommerce.Sitecore92.SitecoreDataProvider.Impl.DetectFullCategoryScan, UCommerce.Sitecore92" />
  </components>
</configuration>
